.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.app-title {
    font-family: 'Bigelow Rules';
    font-size: 76px;
    color: #0ccca4;
    margin: 12px;
}
